


<div class="jumbotron <%= @api_color %> p-5 rounded-lg m-3 " >
  <h1><%= @final_result %></h1>
  <p class="lead">This is the current Ozone air quality readout for my neigbourhood in Nigeria.</p>
  <hr class="my-4">
  <p>Hit 'reload' in your web browser to update reading....</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<br/>



